name: CI

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:

jobs:
  initial_checks:
    # Mandatory checks before CI tests
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      coverage: false
      envs: |
        # Code style
        - linux: codestyle

  tests:
    needs: initial_checks
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      coverage: codecov
      libraries: |
        apt:
          - libhdf5-dev

      envs: |
        - linux: py310-test
        - linux: py311-test
        - linux: py312-test
        - linux: py313-test

        # One of these to be switched to arm64 running natively once the PLAT var is supported.
        - macos: py310-test
        - macos: py311-test
        - macos: py312-test

        - windows: py310-test
        - windows: py311-test
        - windows: py312-test

  no_coverage:
    needs: initial_checks
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      coverage: false
      pytest: false

      envs: |
        - windows: py310-notebooks
        - macos: py311-notebooks
        - linux: py313-notebooks

        - linux: py311-docs
        - macos: py310-docs
        - windows: py312-docs

  ui-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install
        run: pip install . "pytest-ipywidgets[all]" "pytest-playwright==0.5.2" "jupyterlab<4"
      - name: Install playwright
        run: |
          playwright install chromium
      - name: Run visual regression tests
        run: |
          pytest tests/ui
      - name: Upload UI Test artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: glue-jupyter-ui-test-output
          path: |
            test-results




  publish:
    needs: tests
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@v1
    with:
      libraries: libhdf5-dev
      test_extras: test
      test_command: pytest --pyargs glue_jupyter
    secrets:
      pypi_token: ${{ secrets.pypi_token }}
